<div class="container">
<div class="row">
  <div class="registergroup">
    <div class="content d-flex align-items-center flex-column">
        <h2>إنشاء حساب</h2>
      <h3>أهلا بك  ، قم بإنشاء حساب الآن <br> عبر اياً من المستخدمين التالين </h3>
      </div>

          <div class="col-md-4">
            <div class="card card-1">
               <div class="card-body position-relative">
                <img class="card-img-top" src="../../assets/img/Group 28.png" alt="Card image cap">
                 <a class="card-title" [routerLink]="['/register','l']">جهة الإختبار</a>
               </div>
             </div>
        </div>
             <div class="col-md-4">
                <div class="card card-2">
                <div class="card-body position-relative">
                  <img class="card-img-top" src="../../assets/img/Group 111.png" alt="Card image cap">
                  <a class="card-title" [routerLink]="['/register','f']">الشركة المصنعه / المستورد</a>
                </div>
              </div>
             </div>
           <div class="col-md-4">
            <div class="card card-3">
               <div class="card-body position-relative">
                <img class="card-img-top" src="../../assets/img/Group 34.png" alt="Card image cap">
                 <a class="card-title" [routerLink]="['/register','w']">الورشة</a>
               </div>
             </div>
           </div>  
       
</div>
</div>


   
   
   
   
     
     
</div>