.label-form
{
    font-family: 'URW DIN Arabic';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: black;
    margin-bottom: 8px;
    position: relative;
}
.form-group
{
    position: relative;
    top: 5.5rem;
    left:7rem;
}
.label-form-start
{
    left: 26rem;
}
.label-form-end
{
    left: 24.5rem;
}

