.login-btn {
    border-radius: 4px;
    padding: 15px 45px;
    background-color: #0091B4;
    color: white;
    font-family: 'URW DIN Arabic';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    top: 14rem;
    left: 61rem;
}