<div class="card">   
    <div class="card-body position-relative">
        <h2 class="text-end">المعلومات الأساسية للشركة المصنعة</h2>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                         <label for="" class="form-label"> *اسم الشركة المصنعة ( بالإنجليزية )  </label>
                         <div class="input-group position-relative">
                            <input type="text" formControlName="CompanyNameInEnglish">
                         <span class="position-absolute">اسم الشركة المصنعة ( بالإنجليزية )</span>
                         </div>
                    </div>
<!-- 
                    <div class="col-md-6">
                         <label for="" > *اسم الشركة المصنعة ( بالعربية ) </label>
                         <div class="input-group position-relative">
                            <input type="text" formControlName="CompanyNameInِArabic">
                         <span class="position-absolute">اسم الشركة المصنعة ( بالعربية )</span>
                         </div>
                    </div>

                    <div class="col-md-6">
                        <label for=""> *رقم للتواصل </label>
                        <div class="input-group position-relative">
                         <input type="text" formControlName="MobileNumber">
                         <span class="position-absolute">رقم للتواصل </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="">رقم الفاكس</label>
                        <div class="input-group position-relative">
                              <input type="text" formControlName="FaxNumber">
                              <span class="position-absolute">رقم الفاكس </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for=""> *الصندوق البريدي </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="MailBox">
                            <span class="position-absolute"> الصندوق البريدي  </span>
                      </div>
                    </div>

                    <div class="col-md-6">
                        <label for=""> *الرمز البريدي </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="MailCode">
                            <span class="position-absolute"> الرمز البريدي  </span>
                      </div>
                    </div>

                    <div class="col-md-6">
                        <label for=""> *البلد </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="Country">
                            <span class="position-absolute">  البلد  </span>
                      </div>  
                    </div>

                    <div class="col-md-6">
                        <label for=""> *المدينة  </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="City">
                            <span class="position-absolute">  المدينة  </span>
                      </div>
                    </div>


                    <div class="col-md-6">
                        <label for=""> *العنوان  </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="Address">
                            <span class="position-absolute">  العنوان  </span>
                      </div>   
                    </div>

                    <div class="col-md-6">
                        <label for=""> *رقم السجل التجاري </label>
                          <div class="input-group position-relative">
                            <input type="text" formControlName="CommercialRegsiterNum">
                            <span class="position-absolute">  رقم السجل التجاري   </span>
                      </div> 
                    </div>

                    <div class="col-md-6">
                        <label for="">  *تاريخ إنتهاء السجل التجاري </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="CommercialRegsiterExpiryDate">
                            <span class="position-absolute"> تاريخ إنتهاء السجل التجاري</span>
                      </div> 
                    </div>

                    <div class="col-md-6">
                        <label for=""> الموقع الإلكتروني  </label>
                        <div class="input-group position-relative">
                            <input type="text" formControlName="Website">
                            <span class="position-absolute"> الموقع الإلكتروني </span>
                      </div> 
                       
                    </div>
 -->                </div>
            </div>
        </form>

        
    </div>
  </div>

