.login-form
{
    box-shadow: 0px 14px 24px rgba(108, 108, 108, 0.1);
    border-radius: 0.5rem !important;
    max-width: 93rem !important;
    height: 28rem;
    position: relative;
    z-index: 10;
    bottom: 25rem;
}